<div class="container">
    <h1>Update Group</h1>
    <div class="input-boxs">
      <div class="input-top">
        <div class="input-box">
          <div class="label-box"><label for="">Group Name </label></div>
          <input type="text" />
        </div>
        <div class="input-box">
          <div class="label-box-right"><label for="">Icon </label></div>
          <input type="text" />
        </div>
      </div>
      <div class="input-box">
        <div class="label-box"><label for="">Active Flag </label></div>
        <input type="text" />
      </div>
    </div>
  
    <div class="btn-bottom">
      <button class="gray-btn">Confirm</button>
      <button class="black-btn">Cancel</button>
    </div>
  </div>
  