.container {
  width: 800px;
  height: 250px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  overflow: auto;
}
.add-btn {
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #8bc53f;
  font-weight: bold;
}

.btn {
  border: none;
  background-color: white;
  cursor: pointer;
}



